## Either
import(Matrix)
### or {for now sufficient}
#importFrom(Matrix
#    ,"sparseMatrix"
#    ,"diag" # <- need (generic, with its methods!)
#    )

import(XML)

##
## Corpus
##

# functions exported from file "R/corpus.R"
exportMethods(N);

# functions exported from file "R/corpusAsFrequencies.R"
exportMethods(ntype);
exportMethods(types);

# functions exported from file "R/corpusAsTokens.R"
exportMethods(slice);
exportMethods(tactique.subcorpus);
exportMethods(ngram);

# functions exported from file "R/fullText.R"
export(fullText);
export(readTexts);
export(tokenize);
export(tokenize.treetagger);
export(tokenize.simple);
#export(print.tokens.by.parts);
#export(untokenize.by.parts);

# functions exported from file "R/lexicalTable.R"
exportMethods(subfreq);

# functions exported from file "R/lexicalTableSparseMatrix.R"
export(lexicalTable);
export(readLexicalTable);
export(writeLexicalTable);

# functions exported from file "R/frequencyList.R"
exportMethods(freq);
exportMethods(contains.types);
exportMethods(hapax);

# functions exported from file "R/frequencyListDataFrame.R"
export(frequencyList);
export(frequencyList.numeric);
export(frequencyList.table);
export(frequencyList.data.frame);

# functions exported from file "R/tabulated.R"
exportMethods(lpositional);
export(lstructural);

# functions exported from file "R/tabulatedDataFrame.R"
export(tabulated);

# functions exported from file "as.R"
exportMethods(as.Tabulated);
exportMethods(as.FrequencyList);
exportMethods(as.LexicalTable);
exportMethods(as.FullText);
exportMethods(coerce);

##
## Subcorpus
##

# functions exported from file "R/subcorpus.R"
exportMethods(subcorpus);

# functions exported from file "R/is.subcorpus.of.R"
exportMethods(is.subcorpus.of);

##
## Functions
##

# functions exported from file "R/corpusLinearKwic.R"
exportMethods(kwic);
#export(.conc);
#export(word.conc, text.conc);

# functions exported from file "R/corpusLinearNgram.R"

# functions exported from file "R/corpusLinearTactique.R"

# functions exported from file "R/treetagger.R"
export(read.treetagger);

# functions exported from file "R/word.association.*.R"
export(wordAssociation)
exportMethods(indicator.name)
exportMethods(parts)
#exportMethods(N)
#exportMethods(types)
exportMethods(n)
exportMethods(K)
exportMethods(k)
exportMethods(wam);
export(wam.fisher);
export(wam.specificities);
export(wam.binomial);
export(wam.loglikelihood);
export(wam.MI);

# functions exported from file "R/textUtils.R"
export(line2paragraph);
