## Either
import(Matrix)
### or {for now sufficient}
#importFrom(Matrix
#    ,"sparseMatrix"
#    ,"diag" # <- need (generic, with its methods!)
#    )

import(XML)

##
## Corpus
##

# functions exported from file "R/corpus.R"
exportMethods(N, ntype);
exportMethods(types);

# functions exported from file "R/corpusLinear.R"
exportMethods(slice);
exportMethods(tactique.subcorpus);
exportMethods(ngram);

# functions exported from file "R/fullText.R"
export(fullText);
export(readTexts);
export(tokenize, tokenize.treetagger, tokenize.simple);
export(print.tokens.by.parts, untokenize.by.parts);

# functions exported from file "R/lexical.R"
exportMethods(subfreq);

# functions exported from file "R/lexicalTableSparseMatrix.R"
export(lexicalTable);
export(readLexicalTable, writeLexicalTable);

# functions exported from file "R/frequencyList.R"
exportMethods(freq, contains.types, hapax);

# functions exported from file "R/frequencyListDataFrame.R"
export(frequencyList, frequencyList.numeric, frequencyList.table, frequencyList.data.frame);

# functions exported from file "R/tabulated.R"
exportMethods(lpositional, lstructural);

# functions exported from file "R/tabulatedDataFrame.R"
export(tabulated);

# functions exported from file "as.R"
exportMethods(as.Tabulated);
exportMethods(as.FrequencyList);
exportMethods(as.LexicalTable);
exportMethods(as.FullText);
exportMethods(coerce);

##
## Subcorpus
##

# functions exported from file "R/subcorpus.R"
exportMethods(subcorpus);

# functions exported from file "R/is.subcorpus.of.R"
exportMethods(is.subcorpus.of);

##
## Functions
##

# functions exported from file "R/corpusLinearKwic.R"
exportMethods(kwic);
export(conc, word.conc, text.conc);

# functions exported from file "R/main.R"
export(compare.txts);

# functions exported from file "R/corpusLinearNgram.R"

# functions exported from file "R/corpusLinearTactique.R"

# functions exported from file "R/treetagger.R"
export(read.treetagger);

# functions exported from file "R/word.association.*.R"
export(wordAssociation)
exportMethods(indicator.name)
exportMethods(wam);
export(wam.fisher, wam.specificities, wam.binomial, wam.loglikelihood, wam.MI);

# functions exported from file "R/textUtils.R"
export(line2paragraph);
