export(
wam.specificities,
wam.collostruction,
wam.loglikelihood,
wam.MI,
wam.frequency,
wam.chisq,
wam.t,
wam.z,
#wam.fisher,
wam.ar,
wam.jaccard
)
#export(wam.binomial);

export(make.contingency)
export(make.list)

# functions exported from file "R/word.association.*.R"
export(wam)
exportMethods(indicator.name)
exportMethods(association)
exportMethods(parts)
exportMethods(types)
exportMethods(N)
exportMethods(n)
exportMethods(K)
exportMethods(k)
exportMethods(summary)
exportMethods(show)
exportMethods(print)
import(methods)
importFrom("stats", "fisher.test", "pchisq", "phyper", "pnorm")
importFrom("utils", "write.csv")